section 
{
    margin-top:-667px;
    margin-left: 200px;
    text-align: left;
    border-style: solid;
    border-width: 10px;
    border-color: #B00101;
    padding: 2px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

h1.main, h1#depositservices
{ 
    text-align: center;
    background-color: #FF4C00;
    color: White;
    font-size: 25px;
    font-family:Arial Black;
}

p.sub
{
    font-size: 20px;
    font-family: Arial;
    text-align: center;
}

nav#bottomnav
{
    text-align:center;
}

/* services style */
p.services
{
    text-align:center;
    font-size: 20px;
    font-family: Arial;
}

#image1
{
    margin-left: 230px;
}
#image2
{
    margin-left: 100px;
    margin-top: 0px;
}
#image3
{
    margin-left: 400px;
    margin-top: -50px;
}
#image4
{
    margin-left: 100px;
    margin-top: -50px;
}
