section 
{
    margin-top: -667px;
    margin-left: 200px;
    text-align: left;
    border-style: solid;
    border-width: 10px;
    border-color: #B00101;
    padding: 2px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
/* table style */
td 
{
    text-align: center;
    background-color:#FF9640;
}

th
{
    background-color: #FF4C00;
    color: White;
}
th, td
{
    padding:15px;
    width: 28.5%;
    height: 10px;
    text-align:center;
    font-size: 20px;
    font-family: Arial;
}
table 
{
    border-collapse: collapse;
}

/* header styles */
h1 
{
    text-align:center;
    background-color: #FF4C00;
    color: White;
    font-family:Arial Black;
    
}

/* btm nav style*/
nav#bottomnav
{
    text-align:center;
}

p.promotion
{
    font-size: 20px;
    font-family: Arial;
}
