section 
{
    margin-top: -667px;
    margin-left: 200px;
    text-align: left;
    border-style: solid;
    border-width: 10px;
    border-color: #B00101;
    padding: 2px;
    
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
caption
{   
   font-family:Arial Black;
   font-size: 25px;
   text-align: center;
   color: White;
   background-color: #FF4C00;

}

nav#bottomnav
{
    text-align:center;
}

table
{
    border-collapse: collapse;
    margin-left: 13px;

}
table, td, th
{
    border: 2px solid #B00101;
    
}   
th, td
{
    width:90px;
    height:30px;
    text-align: center;
    vertical-align: middle;
}
input:focus:valid {
   background: rgb(220, 255,220);
   
   -o-background-size: contain;
   -moz-background-size: contain;
   -webkit-background-size: contain;
   background-size: contain;
}

input:focus:invalid {
    background: rgb(255, 232, 233);
    
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}
#desc
{
    width:93px;
}

