/* Section Styles */
section
{
    margin-top: -650px;
    margin-left: 200px;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    border-color: #B00101;

}



/* body styles  */

body 
{
    font-family: Arial;
    line-height:1.5em;
    
}

h1
{
    color:#FF4900;
    
   
    font-family: Arial Black;
    font-size:2.5em;
    text-align:center;
    position:absolute;
    height: 50px;
    margin-top: 34px;
    margin-right:40px;
}



h2
{
    color:White;
    background-color: #FF7640;
    font-family: Arial Black;
    text-align:center;
    margin-top:0px;
}


  



 h3
{
    color:White;
    background-color: #FF7640;
    font-family: Arial Black;
    margin-top:0px;
    text-align:center;
}

ul li a
{
    color: #D00000;
}

#bottomnav
{
    text-align: center;
}

#sidenav
{
    margin-top:0px;
}

address
{
    margin-left: 200px;
}

#links
{
margin-right: 200px;
}
