/*
    INTERNET BANKING PROJECT

    Bank name           : TRUE Bank
    Date Created        :  2013
    Created By          : Wang Han
    Filename            : overview.css
    Supporting files    : overview.htm
*/

/* Section Styles */
section
{   
    margin-top: -650px;
    margin-left: 200px;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    border-color: #B00101;

}


/* body styles  */

body 
{
    font-family: Arial;
    line-height:1.5em;
    
}

h1
{
    color:#FF4900;
    
   
    font-family: Arial Black;
    font-size:2.5em;
    text-align:center;
    position:absolute;
    height: 50px;
    margin-top: 34px;
    margin-right:40px;
}



h2
{
    color:White;
    background-color: #FF7640;
    font-family: Arial Black;
    text-align:center;
    margin-top:-10px;
}


  



 h3
{
    color: White;
    background-color: #FF7640;
    font-family: Arial Black;
    margin-top:0px;
    
}

h4
{
    color: white;
    background-color: #FF7373;
    font-family: Arial Black;
}

#bottomnav
{
    text-align: center;
}

address
{
    margin-left: 100px;
}

#links
{
margin-right: 200px;
}


#table
{
  
    border:solid 2px  red;
    float:none;
    width:100%;
    text-align:center;
   
}

@-webkit-keyframes colorchange {
            
            0% {
                -webkit-text-stroke: 10px red;
                letter-spacing: 0;
            }
            
            100% {
                -webkit-text-stroke: 20px green;
                letter-spacing: 18px;
            }
}

article h3
{
               
          -webkit-text-stroke: 2px red;
          -webkit-text-fill-color: white; 
          color: white;
           
          -webkit-animation: colorchange 2.4s infinite;
          -webkit-animation-direction: alternate;
}