/*
    INTERNET BANKING PROJECT

    Bank name           : TRUE Bank
    Date Created        :  2013
    Created By          : Wang Han
    Filename            : tpayment.css
    Supporting files    : Tpayment.htm
*/

@font-face {
	font-family: 'anyoldicon';
	src:url('../fonts/anyoldicon/anyoldicon.eot');
	src:url('../fonts/anyoldicon/anyoldicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/anyoldicon/anyoldicon.woff') format('woff'),
		url('../fonts/anyoldicon/anyoldicon.ttf') format('truetype'),
		url('../fonts/anyoldicon/anyoldicon.svg#anyoldicon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Section Styles */


/* body styles  */

.mobile_content
{
    width: 100%;
    background: #d8d7d7 url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/yoka_mobile_bj.jpg) center top no-repeat;
}
body, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ul, ol, li, form, table, tr, th, td, button, input, textarea
{
    margin: 0;
    padding: 0;
   
}
body
{
    font-size: 12px;
    font-family: \5FAE\8F6F\96C5\9ED1,Arial,\5B8B\4F53;
    -webkit-text-size-adjust: none;
    color: red;
    background-image: url(../image/background.png);
    margin-left:150px;
   
}
article
{
    border:solid;
	display:block;
	margin-top:30px;
	
}
	
ol, ul
{
    list-style: none;
}
img
{
    border: 0;
}
i, u, em
{
    font-style: normal;
    text-decoration: none;
}
sup
{
    vertical-align: text-top;
}
sub
{
    vertical-align: text-bottom;
}
h1, h2, h3, h4, h5, h6, button, input, select, textarea
{
    font-size: 100%;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}
a
{
    text-decoration: none;
}

.top
{
    width: 100%;
    height: 69px;
    background: #242424;
}
.logo
{
    width: 972px;
    margin: 0 auto;
    padding: 22px 0 0 8px;
}
.box
{
    width: 980px;
    margin: 0 auto;
    position: relative;
    
}
.box1
{
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
}

.thumb_pic
{
    left: 100px;
    top: 60px;
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.main
{
    width: 980px;
    margin: 0 auto;
    position: relative;
    
}
zzsc
{
    vertical-align: text-top;
}
.main1
{
    float: left;
    width: 980px;
    margin: 0 auto;
    
}

.main_top_left
{
    position: absolute;
    left: -119px;
    top: 277px;
    width: 109px;
    height: 109px;
    background: red;
    filter: alpha(opacity:10);
    opacity: 0.1;
    cursor: pointer;
    display: none;
    
}
.main_top_left_img
{
    position: absolute;
    left: -77px;
    top: 311px;
    width: 109px;
    height: 109px;
    background: url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/btn_left.gif) no-repeat;
    cursor: pointer;
    display: none;
}
.main_top_right
{
    position: absolute;
    right: -110px;
    top: 277px;
    width: 109px;
    height: 109px;
    background: red;
    filter: alpha(opacity:10);
    opacity: 0.1;
    cursor: pointer;
    display: none;
}
.main_top_right_img
{
    position: absolute;
    right: -156px;
    top: 311px;
    width: 109px;
    height: 109px;
    background: url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/btn_right.gif) no-repeat;
    cursor: pointer;
    display: none;
}

.main_con
{
    width: 980px;
    background: #f0f0f0;
    margin-bottom: 20px;
    
}
.main_title
{
    padding: 20px 0 15px 20px;
    width: 939px;
    height: 21px;
    line-height: 21px;
    margin: 0 auto;
    background: url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/yoka_mobile_12.jpg) no-repeat 0 center;
    text-align: center;
    color: #333;
    font-family: \5FAE\8F6F\96C5\9ED1,Arial;
    font-size: 22px;
    font-weight: bold;
}
.main_move
{
    width: 980px;
    height: 521px;
    overflow: hidden;
    position: relative;
}
.main_list
{
    overflow: hidden;
    margin-left: 0;
}
.list1
{
    float: left;
    position: relative;
    overflow: hidden;
}
.list1 dl
{
    width: 210px;
    height: 245px;
    background: #dcdcdc;
    float: left;
    margin: 0 16px;
    display: inline;
    margin-bottom: 28px;
   
}
.list1 dl dt
{
    margin-bottom: 5px;
    position: relative;
  
}
.list1 dl dt span
{
    position: absolute;
    right: 5px;
    top: 80px;
}
.list1 dl dd
{
    margin-left: 13px;
}
.list1 dl dd h2
{
    font-family: \5FAE\8F6F\96C5\9ED1,Arial;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
    color: #333;
}
.list1 dl dd p
{
    font-family: \5FAE\8F6F\96C5\9ED1,Arial;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}
.list1 dl dd span
{
    margin-top: 5px;
    background: url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/down_img.jpg) no-repeat left center;
    display: block;
}
.list1 dl dd span a
{
    font-family: \5FAE\8F6F\96C5\9ED1,Arial;
    font-size: 12px;
    color: #5c6572;
    margin-left: 12px;
}

.list2 dl
{
    width: 453px;
    height: 245px;
    background: #dcdcdc;
    float: left;
    margin: 0 16px;
    display: inline;
    margin-bottom: 28px;
}
.list2 dl dt
{
    margin-bottom: 5px;
    position: relative;
    float: left;
    width: 210px;
    height: 245px;
}
.list2 dl dt span
{
    position: absolute;
    right: -60px;
    top: 62px;
}
.list2 dl dd
{
    margin-left: 16px;
    float: left;
    display: inline;
    width: 210px;
    padding-top: 70px;
}
.list2 dl dd h2
{
    font-family: \5FAE\8F6F\96C5\9ED1,Arial;
    font-size: 16px;
    height: 37px;
    line-height: 37px;
    color: #333;
    margin-left: 50px;
}
.list2 dl dd p
{
    font-family: \5FAE\8F6F\96C5\9ED1,Arial;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}
.list2 dl dd span
{
    margin-top: 46px;
    background: url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/down_img.jpg) no-repeat left center;
    display: block;
}
.list2 dl dd span a
{
    font-family: \5FAE\8F6F\96C5\9ED1,Arial;
    font-size: 12px;
    color: #5c6572;
    margin-left: 12px;
}

.main_num
{
    width: 100%;
    height: 38px;
    text-align: center;
    padding-top: 20px;
}
.main_num span
{
    width: 10px;
    height: 10px;
    background: url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/dian2.jpg) no-repeat;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}
.main_num span.on
{
    background: url(http://p1.yokacdn.com/pic/div/2012/products/yoka_mobile/dian1.jpg) no-repeat;
}

.foot
{
    width: 100%;
    height: 65px;
    background: #242424;
    color: #626262;
    line-height: 22px;
    padding-top: 5px;
    text-align: center;
}

.about_us
{
    width: 100%;
    text-align: center;    
    font-size: 16px;
}

a:link
{
    text-decoration: none;
    color: rgb(60,60,60);
}
a:visited
{
    color: #31687E;
    text-decoration: none;
}
a:hover
{
    color: #FF0000;
    text-decoration: none;
}
a:active
{
    color: #FF0000;
    text-decoration: none;
}
a.v1:link
{
    text-decoration: underline;
    color: rgb(60,60,60);
}
a.v1:visited
{
    color: #31687E;
    text-decoration: underline;
}
a.v1:hover
{
    color: #333333;
    text-decoration: underline;
}
a.v1:active
{
    color: #FF0000;
    text-decoration: none;
}

ul li a
{
    color: #D00000;
}

#bottomnav
{
    text-align: center;
}

address
{
    margin-left: 200px;
}

#links
{
margin-right: 80px;
}

article
{
    text-align:center;
}

article#giro
{
    margin-left:inherit
}


p
{
    text-align:center;
}



