#right
{
    margin-top: -730px;
    margin-right: 12px;
    float: right;
   
}

.titles
{
    text-decoration: none;
    font-size: 30px;
    font-family: Algerian;
    font-weight: 900;
    color: white;
    margin-left: 10px;
    
}

#aboutus
{
    border: 5px solid white;
    border-radius: 20px;
}

#au
{
    width: 650px;
    color: white;
    font-family: Arial;
}